fastapi
sqlalchemy
starlette
slowapi
python-dotenv
pydantic
typing
jose
httpx
passlib
celery
psycopg2-binary==2.9.6
flower==1.0.0
termcolor==2.3.0
openai==1.55.3
langchain==0.0.237
pydantic==1.10.9
typing-extensions>=4.11,<5
google-generativeai==0.7.2
colorlog==6.7.0
pika